:root {
    --bg-dark: hsl(223 41% 2%);
    --bg: hsl(220 26% 5%);
    --bg-light: hsl(220 15% 9%);
    --text: hsl(220 100% 96%);
    --text-muted: hsl(220 13% 71%);
    --highlight: hsl(220 9% 40%);
    --border: hsl(220 11% 29%);
    --border-muted: hsl(220 16% 19%);
    --primary: hsl(220 78% 76%);
    --secondary: hsl(40 53% 60%);
    --danger: hsl(9 26% 64%);
    --warning: hsl(52 19% 57%);
    --success: hsl(146 17% 59%);
    --info: hsl(217 28% 65%);
}
body {
    background: var(--bg-dark);
    color: var(--text-muted);
}

h3{margin: 0px;}
.polite-card {
  margin-top: 20px;
  max-width: min(90vw, 400px);
  display: flex;
  flex-direction: column;
  background: var(--colors);
  border-radius: 8px;
  overflow: hidden;
}
/* text & button */
.css-card {
  padding: 20px;
}
.polite-card img {
  border-radius: 0px;
  max-width: 600px;
}

.btn{
  display: inline-block;
  text-decoration: none;
  display: inline-block;
  font: var(--p);
  color: var(--colorp);
  background: linear-gradient(var(--colorbody), var(--colorbody)) padding-box,
    linear-gradient(45deg, var(--colora) 0%, var(--colora2) 100%) border-box;
  border: solid 2px transparent;
  border-radius: 8px;
  padding: 12px 24px;
  transition: 0.2s ease-in-out;
  text-align: center;
  margin-top: 8px;
  
}
