h3{margin: 0px;}
.polite-card {
  margin-top: 20px;
  max-width: min(90vw, 400px);
  display: flex;
  flex-direction: column;
  background: var(--colors);
  border-radius: 8px;
  overflow: hidden;
}
.css-card {
  padding: 20px;
}
.polite-card img {
  border-radius: 0px;
  max-width: 600px;
}
.btn{
  display: inline-block;
  text-decoration: none;
  display: inline-block;
  font: var(--p);
  color: var(--colorp);
  background: linear-gradient(var(--colorbody), var(--colorbody)) padding-box,
    linear-gradient(45deg, var(--colora) 0%, var(--colora2) 100%) border-box;
  border: solid 2px transparent;
  border-radius: 8px;
  padding: 12px 24px;
  transition: 0.2s ease-in-out;
  text-align: center;
  margin-top: 8px;
  
}

table, th, td {
  padding: 30px;
}